.container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #260c56;
    color: #444;
    height: 50vh;
    padding: 40px;
    border-radius: 10px;
}
.box{
    background-color: #350f67;
    padding: 10px;
    border-radius: 5px;
    box-shadow:2px 2px 5px #350f67;
    color: #fff;
    
}
.box1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.box2{
    grid-column: 1/2;
    grid-row: 2/3;
}
.box3{
    grid-column: 2/5;
    grid-row: 1/3;
}
.box4{
    grid-column: 5/-1;
    grid-row: 1/2;
}
.box5{
    grid-column: 5/-1;
    grid-row: 2/3;
}
.box6{
    grid-column: 1/2;
    grid-row: 3/4;
}
.box7{
    grid-column: 2/3;
    grid-row: 3/4;
}
.box8{
    grid-column: 3/5;
    grid-row: grid-row: 3/4;
}
.box9{
    grid-column: 5/6;
}
.box10{
    grid-column: 6/-1;
  
}
.box11{
    grid-column: 1/-1;
}
/* Responsive Styles */
@media screen and (max-width:576px) {
    .container{
     display: flex;
     flex-direction: column;
     gap: 20px;
     height: 100%;
    }
 }